minigrid
highway-env
matplotlib
gymnasium
git+https://github.com/Farama-Foundation/Minigrid.git@gym-minigrid-legacy
torch
stable-baselines3==2.3.2
scikit-learn
git+https://github.com/idanshen/easyrl.git@sac
moviepy==1.0.3
openai
typing
pydantic-settings
